# NodeJS
node_modules/
npm-debug.log

# Compiled assets
public/
static/generated/
templates/generated/
static/*.css
static/*.js
static/*.map

# Sublime Text
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# WebStorm
.idea/
