# NodeJS
node_modules/
npm-debug.log

# Compiled assets
public/
static/assets/

# Sublime Text
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# WebStorm
.idea/
