{% extends "shared/base.html" %}

{% block title %}Jakub Leško | Not found{% endblock %}

{% block header %}
  <header class="header-fixed">
    {% include "shared/navbar.html" %}
  </header>
{% endblock %}

{% block content %}
  <main class="section-screen">
    <div class="section-content">
      <h1 class="title">
        404
      </h1>
      <p class="subtitle">
        Congratulations, you've found end of the internet
      </p>
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% include "shared/footer.html" %}
{% endblock %}
