{% extends "shared/base.html" %}

{% import "macros/meta.html" as meta %}
{% block meta %}
  {{ meta::base(description=section.description) }}
  {{ meta::facebook(title=section.title, description=section.description, url=section.path) }}
  {{ meta::twitter(title=section.title, description=section.description, url=section.path) }}
{% endblock %}

{% block title %}{{ section.title }}{% endblock %}

{% block header %}
  <header class="header-fixed">
    {% include "shared/navbar.html" %}
  </header>
{% endblock %}

{% block content %}
  <main class="section-screen">
    <div class="section-content">
      <h1 class="title">
        {{ section.title }}
      </h1>
      <p class="subtitle">
        {{ section.description }}
      </p>
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% include "shared/footer.html" %}
{% endblock %}
