{% extends "shared/base.html" %}

{% import "macros/meta.html" as meta %}
{% block meta %}
  {{ meta::base(description=page.description) }}
  {{ meta::facebook(title=page.title, description=page.description, url=page.path, type="article") }}
  {{ meta::twitter(title=page.title, description=page.description, url=page.path) }}
{% endblock %}

{% block title %}Jakub Leško | {{ page.title }}{% endblock %}

{% block header %}
  <header class="header">
    {% include "shared/navbar.html" %}
    <div class="header-content">
      <h1 class="title">
        {{ page.title }}
      </h1>
      <p class="subtitle">
        {{ page.date | date(format="%B %e, %Y") }}
      </p>
    </div>
  </header>
{% endblock %}

{% block content %}
  <main class="section">
    <article class="article">
      {{ page.content | safe }}
    </article>
  </main>
{% endblock %}

{% block footer %}
  {% include "shared/footer.html" %}
{% endblock %}
