{% extends "shared/base.html" %}

{% import "macros/meta.html" as meta %}
{% block meta %}
  {{ meta::base(description=page.description) }}
  {{ meta::facebook(title=page.title, description=page.description, url=page.path, type="article") }}
  {{ meta::twitter(title=page.title, description=page.description, url=page.path) }}
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block header %}
  {% include "shared/header.html" %}
{% endblock %}

{% block content %}
  <main>
    {{ page.content | safe }}
  </main>
{% endblock %}

{% block footer %}
  {% include "shared/footer.html" %}
{% endblock %}
