{% extends "shared/base.html" %}

{% import "macros/meta.html" as meta %}
{% block meta %}
  {{ meta::base(description=section.description) }}
  {{ meta::facebook(title=section.title, description=section.description, url=section.path) }}
  {{ meta::twitter(title=section.title, description=section.description, url=section.path) }}
{% endblock %}

{% block title %}Jakub Leško | {{ section.title }}{% endblock %}

{% block header %}
  <header class="header">
    {% include "shared/navbar.html" %}
    <div class="header-content">
      <h1 class="title">
        {{ section.title }}
      </h1>
      <p class="subtitle">
        {{ section.description }}
      </p>
    </div>
  </header>
{% endblock %}

{% block content %}
  {% if paginator %}
    <main class="section">
      {% for page in paginator.pages %}
        <article class="article">
          <header>
            <h2>
              <a href="{{ page.path }}">
                {{ page.title }}
              </a>
            </h2>
            <div class="article-detail">
              <time datetime="{{ page.date }}">
                {{ page.date | date(format="%B %e, %Y") }}
              </time>
              <span>&middot;</span>
              <span>
                {{ page.reading_time }} min reading
              </span>
            </div>
          </header>
          <div class="">
            {{ page.content | safe | striptags | truncate(length=320) }}
          </div>
        </article>
      {% endfor %}
      {% if paginator.previous or paginator.next %}
        <div class="pagination">
          {% if paginator.previous %}
            <a href="{{ paginator.previous }}"
               class="link">
              {% include "icons/arrow-left.html" %}
              Previous page
            </a>
          {% endif %}
          {% if paginator.next %}
            <a href="{{ paginator.next }}"
               class="link">
              Next page
              {% include "icons/arrow-right.html" %}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </main>
  {% endif %}
  {% if section.content %}
    <main class="section">
      <article class="article">
        {{ section.content | safe }}
      </article>
    </main>
  {% endif %}
{% endblock %}

{% block footer %}
  {% include "shared/footer.html" %}
{% endblock %}
