{% extends "shared/base.html" %}

{% import "macros/meta.html" as meta %}
{% block meta %}
  {{ meta::base(description=section.description) }}
  {{ meta::facebook(title=section.title, description=section.description, url=section.path) }}
  {{ meta::twitter(title=section.title, description=section.description, url=section.path) }}
{% endblock %}

{% block title %}{{ section.title }}{% endblock %}

{% block header %}
  {% include "shared/header.html" %}
{% endblock %}

{% block content %}
  {% if paginator %}
    <main>
      {% for page in paginator.pages %}
        <article>
          <h1><a href="{{ page.path }}">{{ page.title }}</a></h1>
          <p>
            <time datetime="{{ page.date }}">{{ page.date | date(format="%B %e, %Y") }}</time>
            <span>&middot;</span>
            <span>{{ page.reading_time }} min reading</span>
          </p>
          {{ page.content | safe | striptags | truncate(length=320) }}
          <p>
            <a href="{{ page.path }}">Read more &rarr;</a>
          </p>
        </article>
      {% endfor %}
      {% if paginator.previous or paginator.next %}
        <nav>
          {% if paginator.previous %}
            <a href="{{ paginator.previous }}">Previous page</a>
          {% endif %}
          {% if paginator.previous and paginator.next %}
            <span>/</span>
          {% endif %}
          {% if paginator.next %}
            <a href="{{ paginator.next }}">Next page</a>
          {% endif %}
        </nav>
      {% endif %}
    </main>
  {% endif %}
  {% if section.content %}
    <main>
      {{ section.content | safe }}
    </main>
  {% endif %}
{% endblock %}

{% block footer %}
  {% include "shared/footer.html" %}
{% endblock %}
