@font-face {
  font-family: 'Inter';
  font-weight: normal bold;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/inter.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Inter';
  font-weight: normal bold;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/inter.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Fira Code';
  font-weight: normal bold;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/fira-code.woff2') format('woff2-variations');
}
