<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FFFFFF" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
  {% block meta %}
  {% endblock %}
  {% include "partials/icons.html" %}
  {% include "partials/styles.html" %}
  <title>{% block title %}Jakub Leško{% endblock %}</title>
</head>
<body>
  {% block header %}
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
</body>
</html>
