<footer class="footer">
  <div class="footer-copy">
    <p>
      <strong>Jakub Leško</strong> &copy; 2016 - 2020. All rights reserved.
    </p>
    <p>
      This blog is built with
      <a href="https://www.getzola.org/"
         target="_blank"
         rel="noopener noreferrer"
         class="link">
        Zola</a>,
      <a href="https://tailwindcss.com/"
         target="_blank"
         rel="noopener noreferrer"
         class="link">
        Tailwindcss</a>,
      and
      <a href="https://remixicon.com/"
         target="_blank"
         rel="noopener noreferrer"
         class="link">
        Remix&nbsp;Icon</a>.
    </p>
  </div>
  <div class="footer-social">
    <a href="https://github.com/keysh"
       target="_blank"
       rel="noopener noreferrer"
       class="link"
       title="Github">
      {% include "icons/github.html" %}
    </a>
    <a href="https://twitter.com/kubadlo"
       target="_blank"
       rel="noopener noreferrer"
       class="link"
       title="Twitter">
      {% include "icons/twitter.html" %}
    </a>
    <a href="https://www.linkedin.com/in/jakublesko/"
       target="_blank"
       rel="noopener noreferrer"
       class="link"
       title="LinkedIn">
      {% include "icons/linkedin.html" %}
    </a>
    <a href="{{ get_url(path='rss.xml') }}"
       class="link"
       title="RSS Feed"
       download>
      {% include "icons/rss.html" %}
    </a>
  </div>
</footer>
