<header>
  <h1>Jakub Leško</h1>
  <nav>
    <a href="{{ get_url(path='@/_index.md') }}">Home</a>
    /
    <a href="{{ get_url(path='@/about/_index.md') }}">About</a>
    /
    <a href="https://github.com/kubadlo" target="_blank" rel="noopener noreferrer">Github</a>
    /
    <a href="https://mastodon.social/@kubadlo" target="_blank" rel="noopener noreferrer">Mastodon</a>
    /
    <a href="https://twitter.com/kubadlo" target="_blank" rel="noopener noreferrer">Twitter</a>
    /
    <a href="https://www.linkedin.com/in/jakublesko/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
  </nav>
</header>
