<nav class="flex flex-row justify-between items-center max-w-screen-lg mx-auto px-6 py-6 md:py-8">
  <a href="{{ get_url(path='@/_index.md') }}"
     class="font-bold text-xl text-gray-800 hover:text-indigo-800 transition duration-150 ease-in-out">
    Jakub Leško
  </a>
  <button type="button"
          id="menu-open-btn"
          class="fill-current text-gray-600 hover:text-indigo-800 md:hidden">
    {% include 'icons/menu.html' %}
  </button>
  <div id="menu-container"
       class="hidden w-full top-0 inset-x-0 p-2">
    <div class="bg-white rounded-lg shadow-md p-4 space-y-4">
      <div class="flex flex-row justify-between items-center">
        <a href="{{ get_url(path='@/_index.md') }}"
           class="font-bold text-xl text-gray-800 hover:text-indigo-800 transition duration-150 ease-in-out">
          Jakub Leško
        </a>
        <button type="button"
                id="menu-close-btn"
                class="fill-current text-gray-600 hover:text-indigo-800">
          {% include 'icons/close.html' %}
        </button>
      </div>
      <div id="menu-container"
           class="flex flex-col text-gray-600 space-y-4">
        <a href="{{ get_url(path='@/_index.md') }}"
           class="hover:text-indigo-800 transition duration-150 ease-in-out">
          Home
        </a>
        <a href="{{ get_url(path='@/blog/_index.md') }}"
           class="hover:text-indigo-800 transition duration-150 ease-in-out">
          Blog
        </a>
        <a href="{{ get_url(path='@/about/_index.md') }}"
           class="hover:text-indigo-800 transition duration-150 ease-in-out">
          About
        </a>
        <div class="flex flex-row space-x-8">
          <a href="https://github.com/keysh"
             target="_blank"
             rel="noopener noreferrer"
             class="fill-current hover:text-indigo-800 transition duration-150 ease-in-out"
             title="Github">
            {% include 'icons/github.html' %}
          </a>
          <a href="https://twitter.com/kubadlo"
             target="_blank"
             rel="noopener noreferrer"
             class="fill-current hover:text-indigo-800 transition duration-150 ease-in-out"
             title="Twitter">
            {% include 'icons/twitter.html' %}
          </a>
          <a href="https://www.linkedin.com/in/jakublesko/"
             target="_blank"
             rel="noopener noreferrer"
             class="fill-current hover:text-indigo-800 transition duration-150 ease-in-out"
             title="LinkedIn">
            {% include 'icons/linkedin.html' %}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden md:flex flex-row text-gray-600 space-x-8">
    <a href="{{ get_url(path='@/_index.md') }}"
       class="hover:text-indigo-800 transition duration-150 ease-in-out">
      Home
    </a>
    <a href="{{ get_url(path='@/blog/_index.md') }}"
       class="hover:text-indigo-800 transition duration-150 ease-in-out">
      Blog
    </a>
    <a href="{{ get_url(path='@/about/_index.md') }}"
       class="hover:text-indigo-800 transition duration-150 ease-in-out">
      About
    </a>
    <a href="https://github.com/keysh"
       target="_blank"
       rel="noopener noreferrer"
       class="fill-current hover:text-indigo-800 transition duration-150 ease-in-out"
       title="Github">
      {% include 'icons/github.html' %}
    </a>
    <a href="https://twitter.com/kubadlo"
       target="_blank"
       rel="noopener noreferrer"
       class="fill-current hover:text-indigo-800 transition duration-150 ease-in-out"
       title="Twitter">
      {% include 'icons/twitter.html' %}
    </a>
    <a href="https://www.linkedin.com/in/jakublesko/"
       target="_blank"
       rel="noopener noreferrer"
       class="fill-current hover:text-indigo-800 transition duration-150 ease-in-out"
       title="LinkedIn">
      {% include 'icons/linkedin.html' %}
    </a>
  </div>
</nav>
